heroku_deploy:
    script:
        - apt-get update -qy
        - apt-get install -y ruby-dev
        - gem install dpl
        - gem install dpl
        - dpl --provider=heroku --app=$HEROKU_APP_NAME --api-key=$HEROKU_PRODUCTION_KEY
    only:
        - master